/* * {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(220, 230, 89);
    text-align: center;
    display:flex;
    justify-content: center;
}

.div-1, .div-2, .div-3, .div-4, .div-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-1 {
    width: 500px;
    height: 500px;
    background-color: rgb(15, 15, 14);
}

.div-2 {
    width: 400px;
    height: 400px;
    background-color: rgb(167, 46, 9);
}  
.div-3 {
    width: 300px;
    height: 300px;
    background-color: rgb(71, 161, 11);
}

.div-4 {
    width: 200px;
    height: 200px;
    background-color: grey;
}
.div-5 {
    width: 100px;
    height: 100px;
    background-color: purple;
} */


/* body {
    background-color: rgb(86, 150, 192);
    color: aquamarine;
    font-size: 30px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 400px;
    flex-direction: ;
}



div {
    background-color: rgb(133, 92, 32);
    margin-bottom: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
} */


/* 

body {
    background-color: rgb(47, 49, 13);
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    display: flex;
    3

}

.btn {
    width: 400px;
    height: 200px;
    font-size: 40px;
    margin-top: 50px;
    cursor: pointer;
    color: rgb(56, 122, 43);
    background-color: black;
    border: 4px solid red;
    border-radius: 15px;
    transition: 2s;
}

.btn:hover {
    transition: 2s;
    color: rgb(152, 172, 38);
    background-color: rgb(88, 87, 38);
    border: 4px solid rgb(237, 240, 80);
    width: 250px;
    height: 60px;
} */

/* 
.div {
    width: 300px;
    height: 300px;
    color: red;
    background-color: black;
    font-size: 15px;
    font-size: 900;
    margin-top: 100px;
    padding: 10;
    
}

p {
    margin: 0;
} */